.btn-success {
  background: #61a5a0;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  transition: 0.3s ease;
  text-decoration: none;
  font-weight: bold;
  width: fit-content;
}

.btn-success:hover {
  background: #538a87;
  color: white;
}

.btn-back {
  background: grey;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  transition: 0.3s ease;
  text-decoration: none;
  font-weight: bold;
  width: fit-content;
}

.btn-back:hover {
  background: rgb(106, 106, 106);
  color: white;
}


.btn-primary{
  background: #538a87;
  color: white;
  margin-top: 4px ;
  border-color: rgb(254, 254, 254);
  border-radius: 10px;
}
.btn-primary:hover{
  background:rgb(106, 106, 106);
  transition: 1s;
}
