.card_booking {
  display: flex;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 16px;
  margin-left: 17px;
  width: 800px;
  border-radius: 10px;
  align-items: center;
}

.card_booking2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 15px;
  width: 270px;
  align-items: center;
}

.group_card{
  display: flex;
  justify-content: space-around;
}

.card_booking > img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  display: flex;
}

.card_booking .card_booking-infos {
  padding: 16px;
  justify-content: space-between;
}

.card_booking-infos h4 {
  font-weight: bold;
 }

.card_booking-show {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin: 50px;
}

.card_booking-show > img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
